<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Asks for a name">
  <meta name="author" content="Siegfred Lorelle C. Mina">
  <title>Hello</title>
</head>
<body>
  <h1>Hello</h1>

  <input type="text" id="name-input" name="name-input">
  <button id="name-btn">Submit Name</button>
  <p id="greeting"></p>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="./static/js/submit-hello.js"></script>
  <script>

  </script>
</body>
</html>