<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Predicts the TODO">
  <meta name="author" content="Siegfred Lorelle C. Mina">
  <title>Predit</title>
</head>
<body>
  <h1>Predict</h1>

  <input class="image-selector" type="file" accept="image/png">
  <button class="predict-img" type="submit" name="submit">Predict Image</button>
  <hgroup>
    <h2>Predictions</h2>
    <p class="dog-prediction">Dog: </p>
    <p class="cat-prediction">Cat: </p>
  </hgroup>

  <figure>
    <img class="selected-img" src="">
    <figcaption></figcaption>
  </figure>



  <!-- <input type="text" id="name-input" name="name-input">
  <button id="name-btn">Submit Name</button>
  <p id="greeting"></p> -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="./static/js/predict-img.js"></script>
  <script>

  </script>
</body>
</html>